
 html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex; /* ใช้ Flexbox */
    justify-content: center; /* จัดแนวนอน */
    align-items: center; /* จัดแนวตั้ง */
    background-color: #393e46; /*background-color: ;*/
  }

  .loader {
     color: #ffffff;
    width: fit-content;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
    padding-bottom: 8px;
    background: linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
    animation: l2 2s linear infinite;
  }

  .loader:before {
    content: "Loading...";
  }

  @keyframes l2 {
    to {
      background-size: 100% 3px;
    }
  }